.fechar {
    width: 150px;
    height: 35px;

    text-align: center;
    font-size: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.valores-botao-adicionar {
    border: none;
    border-radius: 15px;
    background-color: var(--button-color);

    font-family: var(--font);
    font-size: 40px;
    color: var(--secondary-text-color);

    width: 240px;
    height: 80px;
}

.valores-botao-adicionar:hover{
    background-color: var(--input-bg-color);
    color: var(--primary-text-color);
    transition: .5s;

    text-align: center;
}